:root {
    --main-color: rgb(0, 102, 83);
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
}

body {
    position: relative;
}

/****************************************************************************
             HEADER
*****************************************************************************/


header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

.yoonu-logo {
    height: 30px;
    width: 80px;
    flex: 1;
    margin: auto 30px;
    text-align: left;

}

.yoonu-logo2 {
    display: none;
}



.header-titles {
    display: inline;
    margin: auto;
    flex: 3;
    text-align: center;
    height: 100%;

}

header .uk-margin {
    display: none;
}

.header-titles .empty-space {
    display: none;
}

.header-titles li {
    display: inline;
}

.header-titles li a {
    display: inline;
    padding: 10px 10px;
    color: black;
    margin: auto 0px;
    text-decoration: none;
}

.header-titles li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 1s;
}

.nav-mobile {
    color: black !important;

}

nav input[type=checkbox],
.nav-mobile {
    display: none;
}

nav input[type=checkbox]:checked~ul {
    display: block;
    color: black;
    background-color: white;
}


.add-org-button,
.add-org-button2 {
    flex: 2;
    height: 30px;
    margin: auto;
    text-align: center;
    display: block;
}

.add-org-button a,
.add-org-button2 a {
    background-color: var(--main-color);
    width: 10px;
    margin: auto;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}

.add-org-button2 {
    display: none;
}

/****************************************************************************
             CONTENT
*****************************************************************************/

.main-content {
    width: 100%;
}

/****************************************************************************
                ACCUEIL CONTENT
*****************************************************************************/

.home-head {
    padding-top: 70px;
    height: 400px;
    width: 100%;
    text-align: center;

}

.home-head h1 {
    color: black;
    font-size: 60px;
    margin: 50px 15%;
    font-weight: bold;

}

.home-head .search-section {
    height: 55px;
    width: 65%;
    margin: 80px auto;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    display: flex;
}

.home-head .search-section input {
    height: 92%;
    width: 100%;
    flex: 11;
    font-size: 20px;
    padding-left: 30px;
}

.home-head .search-section button {
    background-color: var(--main-color);
    flex: 1;
    border: 0px none;
    color: white;
    cursor: pointer;

}

.search-section button span svg {
    font-weight: bold;
    height: 90%;
    width: 90%;

}


.home-body {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px 0px;
}

.home-body .home-body-left {
    padding: 30px;
    background-color: rgba(0, 102, 83, 0.1);
    flex: 3;
    border-radius: 10px;
}

.home-body .search-section {
    height: 40px;
    margin: 0px auto;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    display: flex;
}

.home-body .search-section input {
    height: 92%;
    width: 100%;
    flex: 12;
    font-size: 15px;
}

.home-body .search-section button {
    background-color: var(--main-color);
    flex: 2;
    border: 0px none;
    color: white;
    cursor: pointer;
}

.home-body .search-section button a {
    color: white;
}

.home-body div h3 a {
    text-decoration: none;
    font-size: 12px;
    text-overflow: initial;
    color: black;
}

.home-body div h3 {
    margin: 0px;
    padding: 3px;


}


.home-body div h3:hover {
    background-color: rgba(0, 102, 83, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.home-body div h3 a:hover {
    color: black;
}

.osc-category,
.osc-domain {
    border-radius: 5px;
    margin: 40px 0px;
    background-color: white;
    padding: 15px;

}


.home-body-left h2 {
    color: black;
}

.home-body-left .start-line {
    height: 4px;
    margin: 8px 0px;
    width: 20%;
    background-color: var(--main-color);
}

.no-categoryor-domain {
    color: var(--main-color);
}


.osc-sort {
    text-align: right;
    position: relative;
}

.category-domain-select-div-form {
    display: none;
}

.home-body .home-body-right {
    margin: 0px auto;
    flex: 7;
}



.home-body .home-body-right .one-osc {
    height: 150px;
    margin: 20px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.home-body .home-body-right .one-osc:hover {
    cursor: pointer;
}

.home-body .home-body-right .one-osc div {
    height: 80%;
    display: flex;
    padding: 10px 0px;

}



.one-osc:hover {
    background-color: rgba(0, 102, 83, 0.05);
    border-radius: 15px;
    transition: background-color 1s;
}

.home-body .home-body-right .one-osc hr {
    margin: 10px 0px;
}



.home-body .home-body-right .one-osc div .osc-logo-container {
    flex: 1;
}


.home-body .home-body-right .one-osc div .osc-logo-container .osc-logo {
    background-size: contain;
    border-radius: 50%;
    height: 80px;
    width: 100px;
    margin: auto;
    border: 3px solid var(--main-color);


}



.home-body .home-body-right .one-osc div .osc-right {
    flex: 4;
    margin: 0px 20px;

}

.home-body .home-body-right .one-osc div .osc-right div {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.home-body .home-body-right .one-osc div .osc-right div .osc-header {
    flex: 1;
    width: 100%;
    color: black;
    text-decoration: none;
}

.osc-right div .osc-header ul span {
    border-radius: 50%;
    /* color: green; */
    /* background-color: rebeccapurple; */
    height: 10px;
    width: 10px;
}

.osc-right div .osc-header p {
    display: inline;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}


.home-body .home-body-right .one-osc div .osc-right div .osc-title {
    width: 100%;
    flex: 2;
    color: black;
    text-decoration: none;
}

.one-osc div .osc-right div .osc-title b {
    font-size: 23px;
}


.no-osc-to-show {
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}






/****************************************************************************
                OSC DETAILS CONTENT
*****************************************************************************/

.one-osc-details-header {
    height: 500px;
    width: 100%;
}

.one-osc-details-baniere-img {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.one-osc-details-baniere-img {
    width: 100%;
    background-position: center;
    background-size: cover;


}


.one-osc-details-title {
    height: 25%;
    width: 100%;
    background-color: var(--main-color);
    position: relative;
    text-align: center;

}

.one-osc-details-title h2 {
    margin: auto;
    line-height: 125px;
    background-color: var(--main-color);
    text-align: center;
}

.one-osc-details-logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: -100px;
    left: 100px;
    background-size: contain;
    background-position: center;
}




/****************************************************************************
                OSC DETAILS TAB BAR
*****************************************************************************/



.one-osc-details-tap-item {
    border-top: 2px solid rgba(73, 72, 72, 0.2);
    border-bottom: 2px solid rgba(73, 72, 72, 0.2);
    padding: 0px auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 0px;
    text-align: center;
}

.one-osc-details-tap-item div {
    display: flex;
    padding: 0px;
    margin: auto;
    width: 400px;
    border-right: 1px solid rgba(73, 72, 72, 0.2);
    border-left: 1px solid rgba(73, 72, 72, 0.2);
    text-align: center;

}

.one-osc-details-tap-item div div {
    flex: 1;
    padding: 10px 0px;
    margin: 0px;
    border-right: 1px solid rgba(73, 72, 72, 0.2);
    cursor: pointer;
}

.one-osc-details-tap-item div a {
    line-height: 100%;
    color: black;
    margin: auto 20px;
}

.one-osc-details-tap-item div a:hover {
    color: rgba(73, 72, 72, 0.5);
    text-decoration: none;

}

.one-osc-selected-tab {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);

}

.one-osc-selected-tab a {
    color: var(--main-color) !important;
}




/****************************************************************************
                TAB A PROPOS D'UNE OSC
*****************************************************************************/

.one-osc-about-tab-content {
    padding: 50px 150px;
}

.one-osc-about-tab-content p {
    color: black;

}

.reclamation-action-zone {
    background-color: rgba(0, 102, 83, 0.1);
    /* padding: 7px 5px; */
    margin-top: 20px;
    display: flex;
    align-content: space-between;
}
.reclamation-action-zone h6 {
    color: var(--main-color);
    display: inline;
    flex: 3;
    padding: 0px;
    padding-left: 5px;
    margin: auto;
    border-radius: 5px;

}

.reclamation-action-zone a {
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    flex: 1;
    padding: 7px 0px;
    text-align: center;
    display: inline;
    border-radius: 5px;

}

.reclamation-action-zone a:hover {
    color: rgb(220, 217, 217);
    text-decoration: none;
}

.one-osc-about-tab-content p a {
    color: black;
}


.one-osc-about-tab-content p a:hover {
    color: blue;
}

.one-osc-about-tab-content-bloc {
    padding-top: 50px;
}

.one-osc-about-tab-content-bloc h3 {
    color: black;
    margin: 3px 0px;
}

.tab-content-bloc-start-line {
    height: 3px;
    width: 180px;
    margin: 3px 0px;
    background-color: var(--main-color);
}

.one-line-osc-details {
    border-bottom: 1px solid rgba(0, 102, 83, 0.3);
    display: flex;
    padding: 10px 0px;
    margin: 30px 0px;
}

.one-line-osc-details p {
    flex: 1;
}

.details-title {
    text-align: left;
    margin: auto;
}

.details-value {
    margin: auto;
    text-align: right;
}



/****************************************************************************
                CREATE OSC FORM
*****************************************************************************/


.form-header {
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    position: fixed;
    z-index: 2;
}



.form-banner {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 700px;
    margin: 0px;

}




.form-banner-img {
    width: 100%;
    height: 400px;
    background-color: var(--main-color);
    background-size: contain;
    overflow: hidden;
}


.form-banner-img img {
    width: 100%;
}

.banner-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;


}



.banner-cover h2 {
    color: white;
    margin-bottom: 40px !important;
}



/****************************************************************************
                FORM STEP
*****************************************************************************/


.form-step {
    padding: 20px 100px;
    background-color: white;
    width: 55%;
    height: 40px;
    margin: 0px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 10px solid white;
    z-index: 3;
}

.form-step-finish {
    padding: 20px 100px;
    background-color: white;
    width: 55%;
    height: 40px;
    margin: 0px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    /* background-color: khaki; */
    z-index: 3;
}

.form-step div {
    display: inline-block;


}


.valid-step,
.invalid-step {
    border-radius: 50%;
    height: 20px;
    margin: auto;
    width: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;

}

.valid-step {
    background-color: var(--main-color);
    color: white;


}

.valid-step-line,
.invalid-step-line {
    height: 7px;
    width: 90px;
    border-radius: 20px;
    margin: auto 10px;
    background-color: rgba(0, 0, 0, 0.2);
}


.semi-line-step {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-color);

}

.complete-line-step {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-color);
}


.invalid-step {
    color: var(--main-color);

}





/****************************************************************************
                FORM CONTENT
*****************************************************************************/

.form-content {
    padding: 40px 32%;
    margin-top: 0px;
    background-color: white;
    height: 600px;
    text-align: left;
    z-index: 1;
    border: 10px solid white;
}

.form-content h4 {
    padding: 40px 0px;
}


.form-n1 form {
    width: 100%;
}

.form-n1 input,
.form-n2 input,
.form-n3 input,
.form-n5 input,
.country_select {
    width: 93%;
    height: 40px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 7px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.country_select {
    width: 99%;
    height: 50px;
}

.category-domain-field {
    display: flex;
    width: 100%;
    /* background-color: rebeccapurple; */
}


.category-domain-field div {
    flex: 1;
}



.category-domain-field div select {
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 7px 15px;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

.category-domain-field div:nth-child(1) {
    margin-right: 3%;

}

.category-domain-field div:nth-child(2) {
    margin-left: 3%;

}


.geoloc-alert {
    color: orange;
}

.get-geoloc-button {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: orange;
    color: white;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.form-finish-content {
    text-align: center;
}

.finish-check-icon {
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    background-position: center;
    height: 60px;
    width: 60px;
    margin: auto;
}


.finish-button {
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 0px 40px;
    margin-top: 50px;
    padding: 20px 0px;
    font-size: 20px;
    width: 100%;
}

.finish-button a {
    color: white;
    text-decoration: none;
    padding: 20px 0px;
    width: 100%;

}

.finish-button:hover {
    cursor: pointer;
}




/***********************************************************
                FORM NAV BUTTON
 ************************************************************/


.submit-button-n1,
.submit-button-n2,
.prev-button-n2 {
    background-color: var(--main-color);
    height: 50px;
    border: 0px solid;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.submit-button-n1 {
    width: 100%;

}

.form-nav-btn-div {
    display: flex;
    width: 100%;
}

.form-nav-btn-div div {
    flex: 1;

}

.form-nav-btn-div div button {
    width: 60%;

}


.prev-button-n2 {
    background-color: rgba(0, 102, 83, 0.5);
}

.prev-button-n2 a {
    text-decoration: none;
    color: white;
}

.submit-button-n2 {
    background-color: var(--main-color);
    float: right;

}




/****************************************************************************
                FOOTER
*****************************************************************************/

footer {
    /* height: 500px; */
    background-color: rgb(29, 29, 27);
    padding: 10px 120px 25px 120px;
    text-align: left;
    font-family: A;
    margin-top: 20px;

}

footer .footer-content {
    width: 100%;
    padding: 20px 0px 0px 0px;
    display: flex;
}



.footer-content-left,
.footer-content-center,
.footer-content-right {
    height: 100%;
    margin: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
}

.footer-content-right h3 {
    padding-left: 0px;
}

footer div div ul {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

footer div div ul li a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 10px;

}


footer div div h3 {
    /* padding-top: 15px; */
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;

}

footer div div h5 {
    padding: 25px 0px;
    color: white;
    line-height: 25px;

}

footer div div ul li {
    padding: 15px 0px;

}

.uk-inline {
    width: 100%;

}

#uk-form-icon-right {
    background-color: var(--main-color);
    margin: 2px;
    color: white;
}

.uk-inline input {
    background-color: rgb(29, 29, 27);
    /* border: none !important; */
    border: 1px solid (--main-color);
    width: 100%;
}

.subscribe-mail2 a {
    display: none;
}

footer hr {
    margin: 20px 0px;
    background-color: var(--main-color);
    color: var(--main-color);
    height: 1px;
    border: 0px;
}


footer em {
    color: white;
}










/*****************************************************
                MEDIA QUERIE PHONE
 ******************************************************/

@media screen and (max-width: 901px) {

    header {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 50px;
        margin-top: 0px;
        padding-top: 0px;

    }
    .nav-section {
        display: none;
    }
    header .uk-margin {
    padding: 0px;
    margin: 0px;
    display: block;
}
 
    .uk-inline {
        border: none !important;
        margin: 0px;
        padding: 0px;
        text-align: start;

    }
    .uk-button {
        margin: 0px;
        border: none !important;

    }

    .uk-nav li a {
        padding: 10px 2px;


    }

    .uk-nav li a:hover {
        background-color: rgba(0, 102, 83, 0.05);
    }

    nav {
        text-align: center;
        flex: 1;
        position: relative;
        background-color: blue !important;
        /* display: none; */
    }



    .yoonu-logo2 {
        text-align: left;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 20px;
        z-index: 6;
    }

    .yoonu-logo2 img {
        height: 100%;
        flex: 1;
        text-align: left;

    }


    .yoonu-logo2 div input {
        color: rebeccapurple;
        background-color: aquamarine;
        width: 200px;
        height: 100%;
    }

    .yoonu-logo2 div input[type=checkbox]:checked~ul {
        display: block;
        color: black;
        background-color: white;
    }



    .nav-mobile-open {
        color: black !important;

    }


    .header-titles {
        display: none;
        width: 50%;
        flex: 1;
        position: absolute;
        top: 0px;
        left: 0px;

    }

    .header-titles li {
        display: block;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0px;
        margin-top: 10px;
    }

    .nav-mobile {
        display: block;
        font-size: 40px;
        color: #fff;
        background-color: red;
        cursor: pointer;
        text-align: right;
    }

    .add-org-button {
        display: none;
        text-align: left;
    }

    .empty-space {
        height: 20px;
        width: 100%;
        display: block;
    }

    .add-org-button2 {
        text-align: left;
        width: 100%;
        padding: 0px;
        display: block;

    }

    .add-org-button a {
        font-size: 10px;
    }

    .add-org-button2 a {
        text-align: left;
        width: 100%;
        padding: 10px 0px;
        padding: 10px;

    }



    /****************************************************************************
                ACCUEIL CONTENT
*****************************************************************************/


    .home-head h1 {
        font-size: 30px;
        margin: 50px 15%;

    }


    .home-head .search-section {
        height: 45px;
    width: 80%;

    }

    .home-head .search-section input {
        flex: 7;
        font-size: 17px;
    }


    .home-body {
        margin: auto;
        flex-flow: row wrap;
        padding: 10px 0px;
        width: 95%;

    }

    .home-body-left {
        display: none;
    }

    .home-body .home-body-left {
        margin: 20px;
        order: 1 !important;
    }

    .category-domain-select-div {
        display: flex;
        align-content: space-between;

    }

    .domain-category-select {
        width: 90%;
        border-radius: 10px;
        border: 2px solid rgba(0, 102, 83, 0.1);
        flex: 1;
        height: 50px;
    }

    .category-domain-select-space {
        width: 10%;
    }

    .home-body .home-body-right {
        margin: 0px auto;
        order: 0 !important;
    }

    .category-domain-select-div-form {
        display: inline;
    }

    .home-body .home-body-right .one-osc {
        height: 170px;
        margin: 20px 5px;
    }

    .one-osc div .osc-right div .osc-title b {
        font-size: 19px;
    }

    .no-osc-to-show {
        height: 100%;
    }
    




    /****************************************************************************
                OSC DETAILS CONTENT
*****************************************************************************/


    .one-osc-details-logo {
        height: 100px;
        width: 100px;
        top: -50px;
        left: 30px;
    }

    .one-osc-details-title {
        height: 20%;
        text-align: center;
    
    }
    

.one-osc-details-title h2 {
    margin: auto;
    padding-top: 20px;
    line-height: 110px;
    background-color: var(--main-color);
    text-align: center;
    font-size: 20px;
}


    /****************************************************************************
                OSC DETAILS TAB BAR
*****************************************************************************/


    .one-osc-details-tap-item {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;

    }

    /****************************************************************************
                TAB A PROPOS D'UNE OSC
*****************************************************************************/

    .one-osc-about-tab-content {
        padding: 50px 20px;
    }




    /****************************************************************************
                CREATE OSC FORM
*****************************************************************************/



    /****************************************************************************
                FORM STEP
*****************************************************************************/


    .form-step {
        padding: 20px 0px;
        width: 98%;
        border-radius: 0px;
    }

    .valid-step,
    .invalid-step {
        height: 20px;
        width: 20px;
        padding: 5px;
        line-height: 20px;

    }

    .valid-step-line,
    .invalid-step-line {
        width: 60px;
        margin: auto 5px;
    }



    /****************************************************************************
                FORM CONTENT
*****************************************************************************/



    .form-content {
        padding: 0px 5%;
        padding: 10px;
        /* background-color: hotpink; */
    }

    .form-content h4 {
        padding: 20px 0px;
        padding-top: 0px;
    }




    /****************************************************************************
                FOOTER
*****************************************************************************/

    footer {
        padding: 5px 20px;
        text-align: left;
        font-family: A;

    }

    footer .footer-content {
        width: 100%;
        padding: 10px 0px 0px 0px;
        display: inline-block;
    }

    .footer-content-center {
        display: none;
    }


}







/*****************************************************
                MEDIA QUERIE TABLETTE
 ******************************************************/


@media screen and (min-width: 901px) and (max-width: 1200px) {}